.container {
  width: 390px; /* 가로 크기 */
  height: 844px; /* 세로 크기 */
  border: #c0c0c0 1px solid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background: antiquewhite; */
}

.mailButton {
  border-radius: 5px;
}
.registerBtn {
  margin: 10px 0 0 100px;
  border-radius: 5px;
  width: 150px;
}
.checkIng {
  display: flex;
  /* justify-content: space-between; */
}
.checkCodeInputBtn {
  margin: 15px 0 0 10px;
  width: 80px;
  border-radius: 5px;
}
#checkCodeInput {
  width: 130px;
  height: 32px;
  margin-top: 16px;
}
.phoneButton {
  width: 120px;
  margin-top: 10px;
  margin-left: 5px;
  height: 30px;
  font-size: 12px;
  border: 50px;
}
.col {
  display: flex; /* 부모 요소를 Flex Container로 설정 */
  justify-content: left;
}
.phoneState {
  margin: 19px 0 0 20px;
  width: 10px;
}
.advice {
  font-size: 25px;
  margin-top: 100px;
  width: 300px;
}

input {
  font-family: "Noto Sans KR", "Noto Sans Korean", "Nanum Gothic", sans-serif;
  border: 0;
  outline: none;
  font-size: 10px;
}
input::placeholder {
  color: #d9d9d9;
}
.easyLoginForm {
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.easyLoginForm label {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.easyLoginForm.ver2 label {
  top: initial;
  bottom: -20px;
}
.easyLoginForm label span {
  color: #da4841;
  vertical-align: -1px;
}
.easyLoginForm input {
  width: 100%;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 5px;
  padding: 16px;
  margin-top: 12px;
}

button {
  background: #90ee90;
  border: transparent;
  width: 250px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
