.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: solid 1px #d9d9d9;
  height: 44px;
  position: sticky;
  z-index: 1;
  top: 55px;
}
.btn-left {
  width: 30px;
  height: 30px;
  margin: 10px 0 10px 10px;
  background-color: white;
}
.page-name {
  font-weight: bold;
  font-size: 20px;
}
.none {
  visibility: hidden;
}
