.detail-profile {
    width: 100%;
    height: 100px;
}

.detail-profile .detail-profile-box {
    margin: 5px 20px;
    width: 230px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-profile .detail-profile-box .review-avg {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.detail-profile .detail-profile-box>img {
    width: 60px;
    height: 60px;
}

.detail-profile .detail-profile-box span {
    font-size: 20px;
    line-height: 30px;
}

.item-img {
    width: 100%;
    height: 300px;
}

.item-content {
    margin: 10px;
    font-size: 25px;
}

.item-footer {
    width: 390px;
    height: 160px;
    position: fixed;
    bottom: 0;
}

.item-footer .current-price {
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.item-footer .my-price {
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.bid-bg {
    width: 390px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
}

.bid-bg .bid-btn {
    width: 390px;
    height: 60px;
    position: fixed;
    bottom: 0;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF4500;
}

.bid-bg .bid-btn .bidding {
    font-size: 25px;
}

.make-a-bid {
    margin: 10px auto;
    width: 350px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF4500;
    border-radius: 30px;
}

.make-a-bid .bid-time {
    font-size: 30px;
}