.select-box {
    margin-left: 290px;
}

.select-box .select {
    padding: 3px;
    width: 95px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #98CB98;
}

.select-box .select:focus {
    border: 1px solid #90EE90;
}

