.detail-profile {
    display: flex;
    justify-content: start;
    align-items: center;
}

.detail-profile-box {
    margin: 5px 0px 5px 20px;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detail-profile-box img, h3, div {
    margin-right: 10px;
}

.detail-chat-btn {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #98CB98;
    color: white;
}

.detail-profile .detail-profile-box .review-avg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.detail-profile .detail-profile-box .review-avg div {
    width: 30px;
}

.detail-profile .detail-profile-box .review-avg span {
    font-size: 17px;
}

.detail-profile .detail-profile-box>img {
    width: 60px;
    height: 60px;
}

.detail-profile .detail-profile-box span {
    font-size: 20px;
    line-height: 30px;
}

.item-detail-img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.item-detail-img .image-container {
    display: flex;
    transition: transform 0.7s ease;
}

.item-detail-img .image-container .image-slide img {
    width: 390px;
    height: 300px;
}

.content-title {
    font-size: 25px;
}

.tags-container {
    /*margin: 0px 0px 5px 0px;*/
    margin-bottom: 10px;
}

.tags-container span {
    margin-right: 10px;
    font-size: 18px;
    background-color: #e7e6e6;
    border-radius: 5px;
    display: inline-block;
    padding: 1px 6px 1px 6px
}

.content-detail {
    font-size: 20px;
    white-space: pre-line
}

.item-content {
    margin: 10px 20px 0 20px;
    font-size: 25px;
    height: 180px;
    overflow-y: auto;
}

.item-content p {
    margin-bottom: 0px;
}

.delete-btn {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #98CB98;
    color: white;
}

.item-footer {
    width: 390px;
    height: 160px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.item-footer .current-price {
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.item-footer .my-price {
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.bid-bg {
    margin-top: 60px;
    width: 390px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
}

.bid-bg .bid-btn {
    width: 390px;
    height: 30%;
    position: fixed;
    bottom: 0;
    color: #000000;
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bid-bg .bid-btn .bidding {
    font-size: 25px;
}

.make-a-bid {
    margin: auto;
    width: 350px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    background-color: #FF4500;
    border-radius: 30px;
}
.btn-a-bid {
    margin: 10px auto;
    width: 390px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FF4500;
    position: fixed;
    bottom: -10px;
    /*border-radius: 30px;*/
}


.make-a-bid .bid-time {
    font-size: 22px;
    margin-bottom: 0px;
}
.bid-input-box{
    margin-left: 20px;
    float: left;
    width: 320px;
    height: 30px;
    /*display: flex;*/
    justify-content: space-between;
    /*align-items: center;*/
    border: 1px solid;
    border-radius: 5px;
}
.bid-won {
    margin-left: 10px;
    float: left;
    font-size: 20px;
}
.bid-text {
    margin-left: 20px;
    margin-bottom: -2px;
    float: left;
    font-size: 20px;
}
.current-price-bid-box {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*position: fixed;*/
}
.bid-farmPay{

    margin-top: 5px;
}