.profile-post {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.profile-post-img {
    margin-right: 10px;
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-thumbnail-img {
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.profile-remaining-time {
    position: absolute;
    bottom: 14px;
}

.profile-time-bg {
    width: 90px;
    height: 20px;
    background-color: rgba(0, 0, 0, 60%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-remaining-time p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.profile-post-content {
    margin-top: 15px;
    width: 190px;
    height: 95px;
    position: relative;
}

.profile-post-content .price {
    color: #E12905;
    position: absolute;
    bottom: 0;
}


.profile-state {
    width: 90px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}