.search-fix {
    margin: 0 auto;
    width: 390px;
    height: 55px;
    position: sticky;
    top: 54px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 1;
}

.nav-search-fix {
    margin: 0 auto;
    width: 390px;
    height: 75px;
    padding-top: 20px;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 1;
}

.search-bar {
    position: relative;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.search-bar .search-box {
    padding-left: 5px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 1px #98CB98;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;

}

.search-bar .search-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 3px;
    right: 25px;
    background-color: #FFFFFF;
}