.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-upload {
  width: 45px;
  height: 20px;
  font-size: larger;
  color: #888888;
  background-color: white;
  margin-right: 10px;
  margin-top: 0px;
  margin-left: 0px;
}
.img-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img-user {
  background-color: #d9d9d9;
  border-radius: 75px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-user {
  border-radius: 75px;
  width: 100px;
  height: 100px;
}

.icon-cam {
  width: 30px;
  height: 30px;
  z-index: 2;
  margin-left: 80px;
  margin-top: 50px;
}

.user-icon {
  position: absolute;
}

.user-info-main {
  margin: 20px 20px 0 20px;
}

.flex {
  display: flex;
  justify-content: left;
  margin: 20px 0 20px 0;

  .info-flex {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
  }

  input {
    /* border: #bbbbbb solid 1px; */
    width: 200px;
    margin-left: 50px !important;
  }

  .user-info-main dl dt {
    font-size: 22px;
    width: 100px;

    .user-info-main dl dd {
      font-size: large;
      color: #888888;
    }

    .hr {
      border-color: #c7c7c7 !important;
      height: 1px;
    }

    .store-Intro {
      width: 350px;
      height: 120px;
      border-radius: 5px;
    }

    .input {
      /* border: #bbbbbb solid 1px; */
      width: 200px;
      /* margin-left: 50px !important; */
    }

    .flex > div:first-child {
      width: 80px;
    }

    .hr {
      border-color: #c7c7c7 !important;
      height: 1px;
    }
  }
}
